{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Login</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
        <h1>Login to Kanso.</h1>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/account/register/'">Register</button>
        </form>
    </div>
    {% endblock %}
  </body>
</html>
